.s-container {
    position: relative;
}

.s-container .swiper {
    width: 70%;
    height: 12rem;
    position: unset;
}

.s-container .swiper-slide {
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.s-container .swiper-button-prev {
    left: 6rem;
}

.s-container .swiper-button-next {
    right: 6rem;
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
    color: black;
}

.left-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    color : black;
}

.name>:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 600;
    color : black;
}

.name>:nth-child(2) {
    font-size: 0.7rem;
    color : black;
}

.left-s>:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    color : black;
}

.left-s>:nth-child(3) {
    font-size: 0.6rem;
    border: 1px solid var(--black);
    border-radius: 15px;
    width: max-content;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.img-p {
    transform: rotate(-20deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -20%;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

@media screen and (max-width: 856px) {
    .s-container .swiper {
        width: 90%;
        height: 9rem;
    }

    .s-container .swiper-button-prev,
    .s-container .swiper-button-next {
        display: none;
    }
}